<% @title = 'Registreren' %>
<h1>Registreer je op RubyWeb!</h1>

<% form_for(@user) do |f| -%>
  <dl class="questions">
    <dt><%= f.label :login, 'Gebruikersnaam (alle alfanumerieke karakters en underscores, geen spaties)' %></dt>
    <dd><%= f.text_field :login %></dd>
    <%= form_error(f, :login) %>
    <dd class="note">Gebruikersnamen zijn hoofdlettergevoelig, maar je mag hoofdletters en underscores gebruiken waar dat nodig is (<abbr title="bijvoorbeeld">bv.</abbr> TomEric, Jan_Daan, daan1976).</dd>
    <dt><%= f.label :email, 'E-mailadres' %></dt>
    <dd><%= f.text_field :email %></dd>
    <%= form_error(f, :email) %>
    <dt><%= f.label :url, '<abbr title="Uniform Resource Locator">URL</abbr> / Jouw website (begin met http://)' %></dt>
    <dd><%= f.text_field :url %></dd>
    <%= form_error(f, :url)%>
    <dd class="note">Deze <abbr>URL</abbr> wordt op diverse plekken binnen deze site gelinkt vanaf je gebruikersnaam.</dd>
    <dt><%= f.label :password, 'Wachtwoord' %></dt>
    <dd><%= f.password_field :password %></dd>
    <%= form_error(f, :password) %>
    <dt><%= f.label :password_confirmation, 'Herhaal wachtwoord' %></dt>
    <dd><%= f.password_field :password_confirmation %></dd>
    <%= form_error(f, :password_confirmation) %>
  </dl>
  <%= render :partial => 'users/captcha' %>
  <p class="submit"><%= submit_tag 'Registreer' %></p>
<% end -%>
