<h1>Post wijzigen</h1>
<%= error_messages_for :item %>
<% form_for(@item) do |f| %>
  <dl class="questions">
    <dt><%= f.label :title, 'Titel' %></dt>
    <dd><%= f.text_field :title %></dd>
    <dt><%= f.label :content, 'Inhoud' %></dt>
    <dd><%= f.text_area :content %></dd>
  </dl>
  <p class="submit"><%= f.submit "Wijzigen" %></p>
<% end %>
<p><%= link_to 'Bekijk deze post', @item %></p>