<h1>Plaats een post op RubyWeb</h1>

<%= error_messages_for :item %>

<% form_for(@item) do |f| %>
  <blockquote class="comment">
    <% if logged_in? %>
      <p>Plaats deze post als: <strong><%= current_user.login %></strong></p>
    <% else %>
      <p><em>Let op: Als je een geregistreerde gebruiker bent, <%= link_to 'log dan in', login_url %> om deze velden in te vullen.</em></p>
    <% end %>
  
    <dl class="questions">
      <% unless logged_in? %>
        <dt class="inline"><%= f.label :byline, 'Naam (verplicht)' %></dt>
        <dd><%= f.text_field :byline %></dd>
      <% end %>
      <dt class="inline"><%= f.label :title, 'Titel (gebruikt voor archief paginas, <abbr title="etcetra">etc.</abbr>)' %></dt>
      <dd><%= f.text_field :title %></dd>
      <dt class="invisible"><%= f.label :content, 'Inhoud' %></dt>
      <dd class="help">
        <strong>Als je dat wilt, dan kun je de volgende <abbr title="HyperText Markup Language">HTML</abbr> elementen gebruiken in je artikel:</strong><br>
        <code>&lt;a href=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote&gt; &lt;code&gt; &lt;em&gt; &lt;i&gt; &lt;strong&gt;</code>
      </dd>
      <dd><%= f.text_area :content, :cols => 60, :rows => 8 %></dd>
    </dl>
    <%= render :partial => 'users/captcha' unless logged_in? %>
    <p class="submit"><%= f.submit "Plaats Post" %></p>
  </blockquote>
<% end %>
