<div class="post">
  <h1><%=h @item.title %></h1>
  <p class="date"><%= @item.created_at.strftime("%d %B, %Y") %></p>
  
  <%= safe(@item.content) %>
  
  <p class="metadata">
    Geplaatst door: 
    <% if @item.user %>
      <%= link_to_if(@item.user.url, @item.user.login, @item.user.url, 
                     { :rel => @item.user.approved_for_feed? ? nil : 'nofollow' }) %>
    <% else %>
      <%= @item.byline %>
    <% end %>
    om <%= @item.created_at.strftime("%R") %> - <%= link_to pluralize(@item.comments.size, 'reactie'), item_url(@item) %>
    <% if admin? %> | <%= link_to 'wijzigen', edit_item_path(@item) %> | <%= link_to 'verwijderen', @item, :confirm => 'Weet je het zeker?', :method => :delete %><% end %>
  </p>
</div>

<div id="comments">
  <%= render :partial => 'comments/comment', :collection => @item.comments %>
  
  <% form_for([@item, @comment]) do |f| %>
    <fieldset class="comment" id="new_comment">
      <h3>Plaats een reactie</h3>
      
      <% unless @comment.errors.empty? %>
      <p class="message">Fout! Je reactie is te lang of te klein.</p>
      <% end %>
    
      <% if logged_in? %>
        <p>Plaats deze post als: <strong><%= current_user.login %></strong></p>
      <% else %>
        <p><em>Let op: Als je een geregistreerde gebruiker bent, <%= link_to 'log dan in', login_url %> om deze velden in te vullen.</em></p>
      <% end %>

      <dl class="questions">
        <% unless logged_in? %>
          <dt class="inline"><%= f.label :byline, 'Naam (verplicht)' %></dt>
          <dd><%= f.text_field :byline %></dd>
        <% end %>
        <dt class="invisible"><%= f.label :content, 'Inhoud' %></dt>
        <dd class="help">
          <strong>Als je dat wilt, dan kun je de volgende <abbr title="HyperText Markup Language">HTML</abbr> elementen gebruiken om je post te verrijken:</strong><br>
          <code>&lt;a href=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote&gt; &lt;code&gt; &lt;em&gt; &lt;i&gt; &lt;strong&gt;</code>
        </dd>
        <dd><%= f.text_area :content, :cols => 60, :rows => 8 %></dd>
      </dl>
      <%= render :partial => 'users/captcha' unless logged_in? %>
      <p class="submit"><%= f.submit "Plaats Reactie" %></p>
    </fieldset>
  <% end %>  
</div>
